*.egg-info
*.pyc
*.swp
*.crt
*.exe
*.dll
!filestore/cagent.exe
!filestore/CraterMain.exe
!filestore/CraterMain.dll
*.pyd
*.DS_Store
*.spec
*.pstat
*.tokens
ps.hex
*__pycache__*
venv
dist
build
/docs/_build
/caldera/static/docs/*
!/caldera/static/docs/.gitkeep
/introvirts/*
/extrovirts/*
/caldera/app/steps/user-steps/*
.env
.idea/*
.logs/*
!.logs/.gitkeep
