input[type=text], input[type=password], input[type=number] {
    width: 100%;
    height: 30px;
    padding: 12px 20px;
    box-sizing: border-box;
    margin-top: 15px;
    border-radius: 10px;
}
select {
   overflow: hidden;
   background: white;
   font-size: 14px;
   height: 30px;
   width: 100%;
   padding: 5px 15px;
   margin-top: 15px;
   border-radius: 10px;
}
.modal button {
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 90%;
}
.modal button:hover {
    opacity: 0.6;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #7a1f1f;
}
.imgcontainer {
    text-align: center;
    position: relative;
    margin-bottom: 25px;
}
img.avatar {
    width: 40%;
    border-radius: 50%;
}
.container {
    padding: 16px;
}
span.psw {
    float: right;
    padding-top: 16px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 10px;
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    width: 40%;
}
.modal p {
    color: #333;
}
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #7a1f1f;
    cursor: pointer;
}

.planner-settings-btn-group {
    padding:0;
    width: 100%;
}

.planner-settings-btn-group label {
    background-color: var(--theme-color);
    color: white;
    padding: 14px 0px;
    margin: 8px 0;
    border: none;
    display: inline-block;
    width: 49%;
    opacity: .5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.planner-settings-btn-group input[type="radio"]{
    display:none;
}

.planner-settings-btn-group input[type="radio"]:checked+label {
    opacity:1.0;
}

.planner-settings-btn-group .btn-primary:hover {
    opacity: .8;
}

